разобраться с include для шаблонов чтобы не копировать код  и не ебать с этим мозг урок 14 селфеду

<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
						<a href="product.html" style="text-decoration: none; color: inherit;">
							<div class="product-card">
								<div class="product-card-offer">
									<div class="offer-hit">Hit</div>
									<div class="offer-new">New</div>
								</div>
								<div class="product-thumb p-3">
									<img src="{% static 'shop/img/products/1.jpg' %}" alt="">
								</div>
								<div class="product-details">
									<h4>товар 1</h4>

									<div class="product-bottom-details d-flex justify-content-between">
										<div class="product-price">
											<small>$70</small>
											$65
										</div>
										<div class="product-links d-flex ml-auto">
											<a href="#" class="btn btn-outline-secondary add-to-cart"
												onclick="event.stopPropagation();"><i
													class="fas fa-shopping-cart"></i></a>
											<a href="#" class="btn btn-outline-secondary add-to-cart"
												onclick="event.stopPropagation();"><i class="fa-solid fa-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>



					<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
						<a href="product.html" style="text-decoration: none; color: inherit;">
							<div class="product-card">
								<div class="product-card-offer">
									<div class="offer-hit">Hit</div>
									<div class="offer-new">New</div>
								</div>
								<div class="product-thumb p-3">
									<img src="{% static 'shop/img/products/2.jpg' %}" alt="">
								</div>
								<div class="product-details">
									<h4>товар 2</h4>

									<div class="product-bottom-details d-flex justify-content-between">
										<div class="product-price">
											<small>$70</small>
											$65
										</div>
										<div class="product-links d-flex ml-auto">
											<a href="#" class="btn btn-outline-secondary add-to-cart"
												onclick="event.stopPropagation();"><i
													class="fas fa-shopping-cart"></i></a>
											<a href="#" class="btn btn-outline-secondary add-to-cart"
												onclick="event.stopPropagation();"><i class="fa-solid fa-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>


					<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
						<a href="product.html" style="text-decoration: none; color: inherit;">
							<div class="product-card">
								<div class="product-card-offer">
									<div class="offer-hit">Hit</div>
									<div class="offer-new">New</div>
								</div>
								<div class="product-thumb p-3">
									<img src="{% static 'shop/img/products/3.jpg' %}" alt="">
								</div>
								<div class="product-details">
									<h4>товар 3</h4>

									<div class="product-bottom-details d-flex justify-content-between">
										<div class="product-price">
											<small>$70</small>
											$65
										</div>
										<div class="product-links d-flex ml-auto">
											<a href="#" class="btn btn-outline-secondary add-to-cart"
												onclick="event.stopPropagation();"><i
													class="fas fa-shopping-cart"></i></a>
											<a href="#" class="btn btn-outline-secondary add-to-cart"
												onclick="event.stopPropagation();"><i class="fa-solid fa-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>

					<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
						<a href="product.html" style="text-decoration: none; color: inherit;">
							<div class="product-card">
								<div class="product-card-offer">
									<div class="offer-hit">Hit</div>
									<div class="offer-new">New</div>
								</div>
								<div class="product-thumb p-3">
									<img src="{% static 'shop/img/products/4.jpg' %}" alt="">
								</div>
								<div class="product-details">
									<h4>товар 4</h4>

									<div class="product-bottom-details d-flex justify-content-between">
										<div class="product-price">
											<small>$70</small>
											$65
										</div>
										<div class="product-links d-flex ml-auto">
											<a href="#" class="btn btn-outline-secondary add-to-cart"
												onclick="event.stopPropagation();"><i
													class="fas fa-shopping-cart"></i></a>
											<a href="#" class="btn btn-outline-secondary add-to-cart"
												onclick="event.stopPropagation();"><i class="fa-solid fa-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>

					<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
						<a href="product.html" style="text-decoration: none; color: inherit;">
							<div class="product-card">
								<div class="product-card-offer">
									<div class="offer-hit">Hit</div>
									<div class="offer-new">New</div>
								</div>
								<div class="product-thumb p-3">
									<img src="{% static 'shop/img/products/5.jpg' %}" alt="">
								</div>
								<div class="product-details">
									<h4>товар 5</h4>

									<div class="product-bottom-details d-flex justify-content-between">
										<div class="product-price">
											<small>$70</small>
											$65
										</div>
										<div class="product-links d-flex ml-auto">
											<a href="#" class="btn btn-outline-secondary add-to-cart"
												onclick="event.stopPropagation();"><i
													class="fas fa-shopping-cart"></i></a>
											<a href="#" class="btn btn-outline-secondary add-to-cart"
												onclick="event.stopPropagation();"><i class="fa-solid fa-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>

					<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
						<a href="product.html" style="text-decoration: none; color: inherit;">
							<div class="product-card">
								<div class="product-card-offer">
									<div class="offer-hit">Hit</div>
									<div class="offer-new">New</div>
								</div>
								<div class="product-thumb p-3">
									<img src="{% static 'shop/img/products/6.jpg' %}" alt="">
								</div>
								<div class="product-details">
									<h4>твоар 6 </h4>

									<div class="product-bottom-details d-flex justify-content-between">
										<div class="product-price">
											<small>$70</small>
											$65
										</div>
										<div class="product-links d-flex ml-auto">
											<a href="#" class="btn btn-outline-secondary add-to-cart"
												onclick="event.stopPropagation();"><i
													class="fas fa-shopping-cart"></i></a>
											<a href="#" class="btn btn-outline-secondary add-to-cart"
												onclick="event.stopPropagation();"><i class="fa-solid fa-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>

					<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
						<a href="product.html" style="text-decoration: none; color: inherit;">
							<div class="product-card">
								<div class="product-card-offer">
									<div class="offer-hit">Hit</div>
									<div class="offer-new">New</div>
								</div>
								<div class="product-thumb p-3">
									<img src="{% static 'shop/img/products/7.jpg' %}" alt="">
								</div>
								<div class="product-details">
									<h4>товар 7</h4>

									<div class="product-bottom-details d-flex justify-content-between">
										<div class="product-price">
											<small>$70</small>
											$65
										</div>
										<div class="product-links d-flex ml-auto">
											<a href="#" class="btn btn-outline-secondary add-to-cart"
												onclick="event.stopPropagation();"><i
													class="fas fa-shopping-cart"></i></a>
											<a href="#" class="btn btn-outline-secondary add-to-cart"
												onclick="event.stopPropagation();"><i class="fa-solid fa-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>

					<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
						<a href="product.html" style="text-decoration: none; color: inherit;">
							<div class="product-card">
								<div class="product-card-offer">
									<div class="offer-hit">Hit</div>
									<div class="offer-new">New</div>
								</div>
								<div class="product-thumb p-3">
									<img src="{% static 'shop/img/products/8.jpg' %}" alt="">
								</div>
								<div class="product-details">
									<h4>товар 8</h4>

									<div class="product-bottom-details d-flex justify-content-between">
										<div class="product-price">
											<small>$70</small>
											$65
										</div>
										<div class="product-links d-flex ml-auto">
											<a href="#" class="btn btn-outline-secondary add-to-cart"
												onclick="event.stopPropagation();"><i
													class="fas fa-shopping-cart"></i></a>
											<a href="#" class="btn btn-outline-secondary add-to-cart"
												onclick="event.stopPropagation();"><i class="fa-solid fa-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>

{% endblock %}
